extends _layouts/master

append header-title
  | boilerplate

append body-absolutes
  // Remove this section, only here for as a placeholder
  .height-15
  section.center-x-y.position-absolute
    h1
      span.pad-right-10 boilerplate
      small
        span // TODO:&nbsp;
        span#typist
        span &nbsp;code here
    .height-10
    .text-center(style='max-width: 1000px;')
      img(src='#{CDN("/statics/img/logos/bootstrap.jpg")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/bower.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/angular.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/requirejs.jpg")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/stylus.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/jade.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/grunt.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/express.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
      img(src='#{CDN("/statics/img/logos/nodejs.png")}').img-circle.img-thumbnail.width-100.height-100.mgn-right-10.mgn-bottom-10.float-left
