extends _layouts/master

append header-title
  | boilerplate

append body-absolutes
  // Remove this section, only here for as a placeholder
  .height-15
  section.center-x-y.position-absolute
    h1
      span.pad-right-10 boilerplate
      small
        span // TODO:&nbsp;
        span#typist
        span &nbsp;code here
    .height-30
    .text-center(style='max-width: 1000px;')
      a(href='http://getbootstrap.com', target='_blank')
        img(src='#{CDN("/statics/img/logos/bootstrap.jpg")}').img-circle.img-thumbnail.logo.highlighted
      a(href='http://bower.io', target='_blank')
        img(src='#{CDN("/statics/img/logos/bower.png")}').img-circle.img-thumbnail.logo
      a(href='http://angularjs.org', target='_blank')
        img(src='#{CDN("/statics/img/logos/angular.png")}').img-circle.img-thumbnail.logo
      a(href='http://requirejs.org', target='_blank')
        img(src='#{CDN("/statics/img/logos/requirejs.jpg")}').img-circle.img-thumbnail.logo
      a(href='http://learnboost.github.io/stylus/', target='_blank')
        img(src='#{CDN("/statics/img/logos/stylus.png")}').img-circle.img-thumbnail.logo
      a(href='http://jade-lang.com', target='_blank')
        img(src='#{CDN("/statics/img/logos/jade.png")}').img-circle.img-thumbnail.logo
      a(href='http://gruntjs.com', target='_blank')
        img(src='#{CDN("/statics/img/logos/grunt.png")}').img-circle.img-thumbnail.logo
      a(href='http://expressjs.com', target='_blank')
        img(src='#{CDN("/statics/img/logos/express.png")}').img-circle.img-thumbnail.logo
      a(href='http://nodejs.org', target='_blank')
        img(src='#{CDN("/statics/img/logos/nodejs.png")}').img-circle.img-thumbnail.logo
